:root {
  --bp-c-page_header--background--BackgroundColor: var(--bp-global--palette--blue);

  --bp-c-page_header--Color: var(--bp-global--palette--white);
  --bp-c-page_header--PaddingBottom: 1rem;

  --bp-c-page_header--grid_container--TransitionDuration: .7s;
  --bp-c-page_header--grid_container--MinHeight: 40vh;
  --bp-c-page_header__bp-m-collapsed--grid_container--MinHeight: 0;
}

.bp-c-page_header {
  color: var(--bp-c-page_header--Color);
  /*background-color: var(--bp-c-page_header--BackgroundColor);*/
  /*background-image: var(--bp-c-page_header--BackgroundImage);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  padding-bottom: var(--bp-c-page_header--PaddingBottom);
  position: relative;
}


.bp-c-page_header h1 {
  text-align: center;
}


.bp-c-page_header > .grid-container {
  min-height: var(--bp-c-page_header--grid_container--MinHeight);
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
  transition: min-height var(--bp-c-page_header--grid_container--TransitionDuration) ease;
}

  .bp-c-page_header.bp-m-collapsed > .grid-container {
    min-height: var(--bp-c-page_header__bp-m-collapsed--grid_container--MinHeight);
  }


.bp-c-page_header::after,
.bp-c-page_header > figure:only-of-type img,
.bp-c-page_header > img:only-of-type {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

  .bp-c-page_header::after {
    background-color: var(--bp-c-page_header--background--BackgroundColor);
    content: "";
    mix-blend-mode: multiply;
    z-index: -1;
  }

  .bp-c-page_header > figure {
    display: contents;
  }

  .bp-c-page_header figcaption {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .bp-c-page_header > figure:only-of-type img,
  .bp-c-page_header > img:only-of-type {
    z-index: -2;
    object-position: center;
    object-fit: cover;
  }


.bp-c-page_header .bp-c-navigation {
  --bp-c-navigation--Color: inherit;
}
