{% load i18n %}

<section class="bp-c-latestposts">

  {% translate "Latest blog articles" as default_title %}
  <h2>{{ title|default:default_title}}</h2>

  <div class="grid-container">
    {% if posts_list %}
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        {% for post in posts_list %}
          <div class="cell">
            {% include "marta/components/molecules/post_card/post_card.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{% translate "No article found." %}</p>
    {% endif %}
  </div>

</section>

{% comment %}
  Latest blog posts plugin
{% endcomment %}
