{% load i18n %}
{% load thumbnail %}
{% load cms_tags %}

{% if trip %}
  <article class="bp-c-nexttrip grid-x grid-margin-x">
    <h2 class="cell small-12">{{ title }}</h2>

    {% if trip.flyer and trip.flyer_picture %}
      {# <a href="{{ trip.flyer.url }}" target="_blank" class="cell small-12 medium-8"> #}
        <img src="{{ trip.flyer_picture|thumbnail_url:'trip-flyer' }}" alt="{% translate 'Flyer' %}">
      {# </a> #}
    {% endif %}

    <div class="cell small-12{% if trip.flyer and trip.flyer_picture %} medium-4{% endif %}">
      <h3>{% render_model trip "name" %}</h3>

      {% include "marta/components/molecules/trip_details/trip_details.html" with show_contacts=True %}

      {% if trip.flyer %}
        <p>
          <a href="{{ trip.flyer.url }}" target="_blank">{% translate "Download the flyer" %}</a>
        </p>
      {% endif %}
    </div>

  </article>
{% endif %}

{% comment %}
  Next scheduled trip plugin template
{% endcomment %}
