{% load menu_tags %}
{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/navigation/navigation.css' %}">{% endaddtoblock %}

<nav class="bp-c-navigation">
  <ul class="vertical medium-horizontal menu align-center">
    {% include "marta/components/molecules/navigation/navigation.html" %}
  </ul>
</nav>
