{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Confirm email address" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% trans "Confirm email address" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>
      {% blocktranslate with email=confirmation.email_address.email trimmed %}
        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email
        address for user {{ user_display }}.
      {% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="button primary" type="submit">{% trans 'Confirm' %}</button>
    </form>

  {% else %}

    {% url 'account_email' as email_url %}

    <p>
      {% blocktranslate trimmed %}
        This email confirmation link expired or is invalid. Please
        <a href="{{ email_url }}">issue a new email confirmation request</a>.
      {% endblocktranslate %}
    </p>

  {% endif %}

{% endblock content %}
