{% load i18n %}
{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/trail_card/trail_card.css' %}">{% endaddtoblock %}

<div class="bp-c-trailcard card">
  <div class="card-section">
    <a href="{{ trail.get_absolute_url }}">
      {% include "marta/components/atoms/trail_sign/trail_sign.svg" with content=trail.number_label %}
    </a>
    <h2 class="h4">
      {{ trail.name }}
    </h2>
    <dl class="grid-x grid-margin-x small-up-2">
      {% if trail.difficulty %}
        <div class="cell">
          <dt>{% translate "Difficulty" %}</dt>
          <dd><abbr title="{{ trail.difficulty.name }}">{{ trail.difficulty.label }}</abbr></dd>
        </div>
      {% endif %}
      <div class="cell">
        <dt>{% trans "Duration" %}</dt>
        <dd>{{ trail.duration_label }}</dd>
      </div>
    </dl>
  </div>
</div>
