{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p class="callout warning">
  <strong>{% trans "Note" %}:</strong>
  {% blocktranslate trimmed %}
    you are already logged in as {{ user_display }}.{% endblocktranslate %}
</p>
