/* base page template */

:root {
  --bp-c-page--RowGap: 2rem;;
}


body {
  display: grid;
  grid-row-gap: var(--bp-c-page--RowGap);
  grid:
    "header" auto
    "content" 1fr
    "footer" auto;
  min-height: 100vh;
}


body > header {
  grid-area: header;
}


main {
  grid-area: content;
  width: 100%;
}


body > footer {
  grid-area: footer;
}


#djDebug {
  position: absolute;
}
