{% extends "marta/components/templates/page/page.html" %}
{% load i18n %}
{% load l10n %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block meta %}
  {% include "meta/meta.html" %}
{% endblock meta %}

{% block header %}
  {% include "marta/components/organisms/page_header/page_header--object.html" with title=object %}
{% endblock header %}

{% block content %}

  <div class="grid-x grid-margin-x">

    {% include "marta/components/molecules/map/map--trail.html" with extra_classes="cell small-12 medium-8" %}

    <section class="cell small-12 medium-4">
      {% render_model_block object "difficulty,duration,distance,drop" %}
        <h2>
          {% translate "Details" %}
        </h2>
        <dl>
          {% if instance.difficulty %}
            <dt>{% translate "Difficulty" %}</dt>
            <dd>{{ instance.difficulty }}</dd>
          {% endif %}
          <dt>{% translate "Duration" %}</dt>
          <dd>{{ instance.duration_label }}</dd>
          <dt>{% translate "Distance" %}</dt>
          <dd>{{ instance.distance_label }}</dd>
          <dt>{% translate "Positive drop" %}</dt>
          <dd>{{ instance.positive_drop_label }}</dd>
          <dt>{% translate "Negative drop" %}</dt>
          <dd>{{ instance.negative_drop_label }}</dd>
        </dl>
        <p>
          <a href="{{ instance.download_url }}" download>{% trans "Download the GPX track" %}</a>
        </p>
      {% endrender_model_block %}
    </section>
  </div>

  {% with description_children=object.description.cmsplugin_set %}
    {% if description_children.count == 0 %}
      {% render_placeholder object.description %}
    {% else %}
      <section>
        <h2>{% trans "Description" %}</h2>
        {% render_placeholder object.description %}
      </section>
    {% endif %}
  {% endwith %}

{% endblock content %}
