/**
 * Blog post metadata
 */

:root {
  /**
   * Pills
   */

  --bp-c-postmeta__pill--Padding: .25em;

  /**
   * Tags
   */

  --bp-c-postmeta__tag--BackgroundColor: var(--bp-global--palette--secondary);
  --bp-c-postmeta__tag--Color: white;


  /**
   * Categories
   */

  --bp-c-postmeta__category--BackgroundColor: var(--bp-global--palette--primary);
  --bp-c-postmeta__category--Color: white;
}


.bp-c-postmeta .bp-c-postmeta__pills a {
  padding: var(--bp-c-postmeta__pill--Padding) calc(var(--bp-c-postmeta__pill--Padding) * 1.5);
  border-radius: calc(.5em + var(--bp-c-postmeta__pill--Padding));
  margin-left: .25em;
}

  .bp-c-postmeta .bp-c-postmeta__pills a:first-child {
    margin-left: 0;
  }



/**
 * Tags
 */

.bp-c-postmeta .bp-c-postmeta__tag {
  background-color: var(--bp-c-postmeta__tag--BackgroundColor);
  color: var(--bp-c-postmeta__tag--Color);
}



/**
 * Categories
 */

.bp-c-postmeta .bp-c-postmeta__category {
  background-color: var(--bp-c-postmeta__category--BackgroundColor);
  color: var(--bp-c-postmeta__category--Color);
}
