{% extends "admin/change_form.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_view_permission %}<a href="{% url parent.opts|admin_urlname:'changelist' %}">{{ parent.opts.verbose_name_plural|capfirst }}</a>{% else %}{{ parent.opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; <a href="{% url parent.opts|admin_urlname:'change' parent.instance.pk|admin_urlquote %}">{{ parent.instance }}</a>
    &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
  </div>
{% endblock breadcrumbs %}
