{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>

    &rsaquo; <a href="{% url parent.opts|admin_urlname:'changelist' %}">{{ parent.opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url parent.opts|admin_urlname:'change' parent.instance.pk|admin_urlquote %}">{{ parent.instance }}</a>

    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'History' %}
  </div>
{% endblock %}
