{% extends CMS_TEMPLATE %}
{% load i18n %}
{% load thumbnail %}
{% load account %}
{% load cms_tags %}

{# {% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}">{% endblock canonical_url %} #}

{% block meta %}
  {% if meta %}
    {% include "meta/meta.html" %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock meta %}

{% block content %}

  <h2>
    {% if author %}{% trans "Articles by" %} {% user_display author %}
    {% elif archive_date %}{% trans "Archive" %} – {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
    {% elif tagged_entries %}{% trans "Tag" %} – {{ tagged_entries|capfirst }}
    {% elif category %}{% trans "Category" %} – {{ category }}{% endif %}
  </h2>

  {% if post_list.exists %}
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        {% for post in post_list %}
          <div class="cell">
            {% include "marta/components/molecules/post_card/post_card.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
          </div>
        {% endfor %}
      </div>
  {% else %}
    <p>{% translate "No article found." %}</p>
  {% endif %}

  {% if author or archive_date or tagged_entries %}
    <p>
      <a class="button" href="{% url 'djangocms_blog:posts-latest' %}">{% trans "Back" %}</a>
    </p>
  {% endif %}

  {% if is_paginated %}
    <nav class="button-group align-center">
      {% if page_obj.has_previous %}
        <a class="button" href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">« {% trans "Previous" %}</a>
      {% endif %}
      <a class="hollow button">
        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
      </a>
      {% if page_obj.has_next %}
        <a class="button" href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "Next" %} »</a>
      {% endif %}
    </nav>
  {% endif %}

{% endblock content %}
