{% load static %}
{% load sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'marta/components/molecules/header_logo/header_logo.css' %}">{% endaddtoblock %}

<a class="bp-c-headerlogo" href="{{ HOMEPAGE_URL }}">
  {% block logo %}
    {% static "marta/img/logo.svg" as default_logo_url %}
    <img src="{{ logo_url|default:default_logo_url }}">
    {% if LOGO_CAPTION %}
      <p>
        {{ LOGO_CAPTION|linebreaksbr }}
      </p>
    {% endif %}
  {% endblock logo %}
</a>
