/**
 * Polaroid
 */

:root {
  --bp-c-polaroid--BackgroundColor: var(--bp-global--palette--white);
  --bp-c-polaroid--BoxShadow: 0 3px 6px var(--bp-global--palette--black-25);
  --bp-c-polaroid--FontFamily: var(--bp-global--FontFamily-cursive);
  --bp-c-polaroid--FontSize: 2rem;
  --bp-c-polaroid--hover--BoxShadow: 0 3px 6px var(--bp-global--palette--black-50);
  --bp-c-polaroid--hover--Transform: scale(1.25);
  --bp-c-polaroid--Padding: 1rem;
  --bp-c-polaroid--RowGap: var(--bp-c-polaroid--Padding);
  --bp-c-polaroid--Transform: rotate(-2deg);
  --bp-c-polaroid--TransitionDuration: .15s;
}


.bp-c-polaroid {
  align-items: center;
  background-color: var(--bp-c-polaroid--BackgroundColor);
  box-shadow: var(--bp-c-polaroid--BoxShadow);
  color: currentcolor;
  display: grid;
  font-family: var(--bp-c-polaroid--FontFamily);
  font-size: var(--bp-c-polaroid--FontSize);
  grid-row-gap: var(--bp-c-polaroid--RowGap);
  grid-template-rows: auto minmax(auto, 3rem);
  justify-items: center;
  padding: var(--bp-c-polaroid--Padding);
  transform: var(--bp-c-polaroid--Transform);
  transition:
    transform  var(--bp-c-polaroid--TransitionDuration) linear,
    box-shadow var(--bp-c-polaroid--TransitionDuration) linear;
}

  .bp-c-polaroid:hover,
  .bp-c-polaroid:active {
    box-shadow: var(--bp-c-polaroid--hover--BoxShadow);
    position: relative;
    transform: var(--bp-c-polaroid--hover--Transform);
    z-index: 5;
  }


/** Caption */
.bp-c-polaroid::after {
  content: attr(title);
}
