{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load cms_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/post_card/post_card.css' %}">{% endaddtoblock %}

<article id="post-{{ post.slug }}" class="bp-c-postcard{% if image and post.main_image %} bp-m-image{% endif %} card">
  {% if image and post.main_image %}
    <div class="bp-c-postcard__image">
      {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
      <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
    </div>
  {% endif %}

  <header class="card-section">
    <h3 class="h4"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    {% block blog_meta %}
      {% include "marta/components/atoms/post_meta/post_meta.html" %}
    {% endblock %}
  </header>

  <div class="bp-c-postcard__abstract card-section">
    {% if not TRUNCWORDS_COUNT %}
      {% render_model post "abstract" "" "" "safe" %}
    {% else %}
      {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe"  %}
    {% endif %}
  </div>

  <a class="button" href="{{ post.get_absolute_url }}">{% trans "Read more" %}</a>

</article>
