/**
 * Trip card
 */

:root {
  /** Border radius */
  --bp-c-tripcard--BorderRadius: var(--bp-global--BorderRadius--sm);
}


.bp-c-tripcard {
  border-radius: var(--bp-c-tripcard--BorderRadius);
}


.bp-c-tripcard .callout {
  border: 0;
}

  .bp-c-tripcard.bp-m-canceled .callout {
    text-decoration: line-through;
  }
