{% load static %}
{% load sekizai_tags %}
{% load cms_tags menu_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/organisms/page_header/page_header.css' %}">{% endaddtoblock %}

<header class="bp-c-page_header">
  {% include "marta/components/molecules/header_logo/header_logo.html" %}

  <div class="grid-container">
    <h1{% if hide_title %} class="invisible"{% endif %}>{% block title %}{{ title }}{% endblock title %}</h1>
    {% block nav %}{% show_menu 0 0 0 0 %}{% endblock nav %}
  </div>

  {% block background %}
    {% placeholder "header" or %}
      {% with background_url=HEADER_BACKGROUNDS|random %}
        <img src="{% static background_url %}">
      {% endwith %}
    {% endplaceholder %}
  {% endblock background %}
</header>
