{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Change password" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% if token_fail %}
    {% translate "Bad token" as title %}
    {% include "marta/components/organisms/page_header/page_header.html" %}
  {% else %}
    {% translate "Change password" as title %}
    {% include "marta/components/organisms/page_header/page_header.html" %}
  {% endif %}
{% endblock header %}

{% block content %}

  {% if token_fail %}

    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktranslate trimmed %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktranslate %}
    </p>

  {% else %}

    {% if form %}
      <form method="post" action="{{ request.path }}">{% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit" name="action">{% translate "Change password" %}</button>
      </form>
    {% else %}
      <p>{% translate "Your password is now changed." %}</p>
    {% endif %}

  {% endif %}

{% endblock content %}
