:root {
  /** Text color */
  --bp-c-navigation--Color: inherit;


  /**
   * Item
   */

  /** Border radius */
  --bp-c-navigation__item--borderRadius: .5em;
}


.bp-c-navigation {
  color: var(--bp-c-navigation--Color);
}

.bp-c-navigation a {
  color: inherit;
}


/**
 * Item
 */

.bp-c-navigation li {
  border-radius: var(--bp-c-navigation__item--borderRadius);
  border: 1px solid transparent;
}

  .bp-c-navigation li:hover,
  .bp-c-navigation li:hover,
  .bp-c-navigation li.is-active {
    border-color: currentColor;
  }

  .bp-c-navigation li.is-active {

  }

    .bp-c-navigation li.is-active > a {
      background-color: transparent;
      color: inherit;
    }
