{% load cms_tags %}
{% load i18n %}
{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/organisms/carousel/carousel.css' %}">{% endaddtoblock %}

{% if instance.child_count %}
  {% if instance.caption_text %}
    <figure class="bp-c-carousel{{ additional_classes }}">
  {% endif %}

  <div class="orbit{% if not instance.caption_text %} bp-c-carousel{{ additional_classes }}{% endif %}"
       data-orbit data-options="{{ orbit_options }}"
       role="region" {% if instance.caption_text %}aria-labelledby="carousel-{{ instance.pk }}-caption"{% else %}aria-label="{% translate 'Image carousel' %}"{% endif %}

  >
    <ul class="orbit-container">
      {% for child in instance.orbitized_plugin_instances %}
        <li class="orbit-slide">
          {# {% include "marta/components/molecules/picture_slide/picture_slide.html" with instance=child %} #}
          {% render_plugin child %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if instance.caption_text %}
      <figcaption id="carousel-{{ instance.pk }}-caption">{{ instance.caption_text }}</figcaption>
    </figure>
  {% endif %}
{% endif %}
