{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/organisms/trip_schedule/trip_schedule.css' %}">{% endaddtoblock %}

<section class="bp-c-tripschedule">
  {% if title %}<h2>{{ title }}</h2>{% endif %}
  {% if trips.exists %}
    {% regroup trips by kind as kinds %}
    {% for kind in kinds %}
      <section class="grid-container">
        <h3>{{ kind.grouper }}</h3>
        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
          {% for trip in kind.list %}
            {% include "marta/components/molecules/trip_card/trip_card.html" %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  {% else %}
    {% blocktrans with year=instance.schedule.year trimmed %}
      The trip schedule for {{ year }} is not ready yet.
    {% endblocktrans %}
  {% endif %}
</section>
