/**
 * Picture carousel
 */

:root {
  /** Bottom margin when rendering as a figure */
  --bp-c-carousel--figure--MarginBottom: 2rem;

  /**
   * Caption
   */

  /** Font size */
  --bp-c-carousel__caption--FontSize: .8em;


  /**
   * Aligned variant
   */

  /** Horizontal margin */
  --bp-c-carousel--align--Margin: var(--bp-c-carousel--figure--MarginBottom);
  /** Width */
  --bp-c-carousel--align--Width: 50%;
}


figure.bp-c-carousel {
  margin-bottom: var(--bp-c-carousel--figure--MarginBottom);
}


.bp-c-carousel figcaption {
  font-size: var(--bp-c-carousel__caption--FontSize);
  margin-top: .5em;
}


.bp-c-carousel.bp-m-align-center {
  display: block;
  margin: var(--bp-c-carousel--align--Margin) auto;
}


@media all and (min-width: 40rem) {
  .bp-c-carousel.bp-m-align-left,
  .bp-c-carousel.bp-m-align-right {
    margin-bottom: var(--bp-c-carousel--figure--MarginBottom);
    width: var(--bp-c-carousel--align--Width);
  }

    .bp-c-carousel.bp-m-align-left {
      float: left;
      margin-right: var(--bp-c-carousel--align--Margin);
    }

    .bp-c-carousel.bp-m-align-right {
      float: right;
      margin-left: var(--bp-c-carousel--align--Margin);
    }

      .bp-c-carousel.bp-m-align-right figcaption {
        text-align: right;
      }
}
