{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}
{% load sekizai_tags %}

{% block page_title %}{% trans "Account" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% trans "Email addresses" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}
  {% if user.emailaddress_set.all %}
    <p>{% translate "The following email addresses are associated with your account:" %}</p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">{% csrf_token %}
      <fieldset>

        {% for emailaddress in user.emailaddress_set.all %}
          <div>
            <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
              <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}">
              {{ emailaddress.email }}
              {% if emailaddress.verified %}
                <span>{% translate "Verified" %}</span>
              {% else %}
                <span>{% translate "Unverified" %}</span>
              {% endif %}
              {% if emailaddress.primary %}
                <span>{% translate "Primary" %}</span>
              {% endif %}
            </label>
          </div>
        {% endfor %}

      <div class="button-group">
        <button class="button" type="submit" name="action_primary">{% translate "Make primary" %}</button>
        <button class="button" type="submit" name="action_send">{% translate "Re-send verification" %}</button>
        <button class="button warning" type="submit" name="action_remove">{% translate "Remove" %}</button>
      </div>

    </fieldset>
  </form>

  {% else %}
    <p class="callout warning">
      <strong>{% translate "Warning"%}</strong>
      {% blocktranslate trimmed %}
        You currently do not have any email address set up. You should really add an
        email address so you can receive notifications, reset your password, etc.
      {% endblocktranslate %}
    </p>

  {% endif %}

  <h2 class="h4">{% translate "Add email address" %}</h2>
  <form method="post" action="{% url 'account_email' %}" class="add_email">{% csrf_token %}
    {{ form.as_p }}
    <button class="button" name="action_add" type="submit">{% trans "Add email" %}</button>
  </form>

{% addtoblock "js" %}<script>
  (function() {
    const message = '{% translate "Do you really want to remove the selected email address?" %}';
    const actions = document.getElementsByName('action_remove');

    if (actions.length) {
      actions[0].addEventListener("click", function(e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>{%endaddtoblock%}

{% endblock content %}
