{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}{% translate "Verify your email address" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% trans "Verify your email address" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}
  {% url "account_email" as email_url %}

  <p>
    {% blocktranslate trimmed %}
      This part of the site requires us to verify that you are who you claim to be. For
      this purpose, we require that you verify ownership of your email address.
    {% endblocktranslate %}
  </p>

  <p>
    {% blocktranslate trimmed %}
      We have sent an email to you for verification. Please click on the link inside
      this email. Please contact us if you do not receive it within a few minutes.
    {% endblocktranslate %}
  </p>

  <p class="callout">
    <strong>{% translate "Note" %}Note</strong>:
    {% blocktranslate trimmed %}
       you can still <a href="{{ email_url }}">change your email address</a>.
    {% endblocktranslate %}
  </p>

{% endblock content %}
