{% load cms_tags %}
{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/organisms/page_footer/page_footer.css' %}">{% endaddtoblock %}


<footer class="bp-c-page_footer">
  <div class="grid-container">
    {% static_placeholder "footer" %}
  </div>
</footer>
