{% load i18n %}
{% load static %}
{% load sekizai_tags %}
{% load cms_tags menu_tags %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>

    <title>{% block page_title %}{{ page_title }}{% endblock page_title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}{% endblock meta %}

    <link rel="preconnect" href="https://fonts.gstatic.com">

    {% block vendor_css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@2.0.5/dist/motion-ui.min.css" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap" rel="stylesheet">
    {% endblock vendor_css %}

    {% render_block "css" %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/css/tokens.css' %}">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/templates/_base/base.css' %}">{% endaddtoblock %}

    {% render_block "head_js" %}

  </head>
  <body>
    {% cms_toolbar %}

    {% block header %}
      {% page_attribute "title" as title %}
      {% include "marta/components/organisms/page_header/page_header.html" %}
    {% endblock header %}

    <main class="grid-container">

      {% if request.current_page and not request.current_page.is_home %}
        <nav aria-label="{% translate 'You are here:' %}" role="navigation">
          <ul class="bp-c-breadcrumbs breadcrumbs">
            {% block breadcrumbs %}{% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}{% endblock breadcrumbs %}
          </ul>
        </nav>
      {% endif %}

      {% block content %}{% placeholder "content" %}{% endblock content %}

    </main>

    {% block footer %}
      {% include "marta/components/organisms/page_footer/page_footer.html" %}
    {% endblock footer %}

    {% render_block "vendor_js" %}
    {% addtoblock "vendor_js" %}{% spaceless %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/motion-ui@2.0.5/dist/motion-ui.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
      <script>$(document).foundation();</script>
    {% endspaceless %}{% endaddtoblock %}

    {% render_block "js" %}
    {% if request.toolbar and request.toolbar.edit_mode_active %}
      <script>
        CMS.$(window).on('cms-content-refresh', function () {
          $(document).foundation();
        });
      </script>
    {% endif %}

  </body>
</html>
