/**
 * Magazine issue card
 */

:root {
  --bp-c-magazineissue__picture--Height: 17.5rem;
}


.bp-c-magazineissue {
  text-align: center;
}


.bp-c-magazineissue img {
  height: var(--bp-c-magazineissue__picture--Height);
  width: auto;
}
