{% load static sekizai_tags %}
{% load thumbnail %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/polaroid/polaroid.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'marta/components/molecules/polaroid/polaroid.js' %}"></script>{% endaddtoblock %}

{% if instance.picture %}
  {% thumbnail instance.picture "polaroid-thumbnail" as thumb %}
  <a class="bp-c-polaroid" href="{{ instance.img_src }}" title="{{ instance.get_alt_text }}" data-open="picture-{{ instance.pk }}">
    <img src="{{ thumb.url }}" alt="{{ instance.get_alt_text }}">
  </a>
{% endif %}
