{% extends "marta/components/templates/page/page.html" %}
{% load static sekizai_tags %}
{% load i18n %}
{% load l10n %}

{% block content %}
  {{ block.super }}

  <section>
    <h2>
      {% trans "Find a trail in Valsabbia" %}
    </h2>
    <form method="get" class="grid-x grid-margin-x">
      {% for field in filter.form %}
        <div class="cell small-12 medium-6">
          {% include "marta/components/molecules/form_field/form_field.html" %}
        </div>
      {% endfor %}
      <div class="cell small-12">
        <button type="submit" class="expanded button">{% translate "Search" %}</button>
      </div>
    </form>
  </section>

  {% if trail_list.exists %}
      {% include "marta/components/molecules/map/map.html" %}

      <script id="trail-list" type="application/json">{% localize off %}
        [
        {% for trail in trail_list %}
          {
            "name": "{{ trail }}",
            "url": "{{ trail.get_absolute_url }}",
            "location": {{ trail.start.geojson|safe }},
            "track": {{ trail.track_data.geojson|safe }}
          }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
      {% endlocalize %}</script>

      {% addtoblock "js" %}<script>
      window.addEventListener('map:init', (event) => {
        const map = event.detail.map;
        const trailList = JSON.parse(document.getElementById('trail-list').innerHTML);
        const trailLayer = L.markerClusterGroup().addTo(map);

        trailList.forEach((trail) => {
          const marker = map.jsonMarker(trail.location)
            .addTo(trailLayer)
            .bindPopup(`<a href="${trail.url}">${trail.name}</a>`, {
              autoclose: false,
              closeButton: true,
              closeOnClick: true,
              closeOnEscapeKey: false,
            });

          marker.track = L.geoJSON(trail.track);
          marker.on('popupopen', (event) => {
            event.target.track.addTo(map);
          });
          marker.on('popupclose', (event) => {
            event.target.track.remove();
          });
        });

        map.flyToBounds(trailLayer.getBounds(), {
          animate: true,
          duration: 1,
          maxZoom: 13,
          padding: [75, 75],
        });
      });
    </script>{% endaddtoblock %}

      <div class="grid-x grid-margin-x small-up-1 medium-up-3">
        {% for trail in trail_list %}
          <div class="cell">
            {% include "marta/components/molecules/trail_card/trail_card.html" %}
          </div>
        {% endfor %}
      </div>

  {% else %}
    <p>
      {% trans "No trails found" %}
    </p>
  {% endif %}

{% endblock content %}
