/**
 * Header logo
 */

:root {
  /** Column gap */
  --bp-c-headerlogo--ColumnGap: 0;

  /**
   * Image
   */

  /** Height */
  --bp-c-headerlogo__image--Height: 4rem;
}


.bp-c-headerlogo {
  align-items: center;
  color: inherit;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--bp-c-headerlogo--ColumnGap);
  justify-content: start;
}

  .bp-c-headerlogo:hover,
  .bp-c-headerlogo:active {
    color: inherit;
  }


.bp-c-headerlogo > * {
  margin: 0;
}


.bp-c-headerlogo img {
  height: var(--bp-c-headerlogo__image--Height);
  width: auto;
}
