/**
 * Trip schedule
 */

:root {
    /**
    * Kind section title
    */

    /** Background color */
    --bp-c-tripschedule__kindtitle--BackgroundColor: var(--bp-global--palette--success);
    /** Border color */
    --bp-c-tripschedule__kindtitle--BorderColor: var(--bp-global--palette--gray);
}



/**
 * Card list
 */

.bp-c-tripschedule ul {
  list-style-type: none;
}



/**
* Kind section title
*/

.bp-c-tripschedule h3 {
  border-top: 1px solid var(--bp-c-tripschedule__kindtitle--BorderColor);
  border-bottom: 1px solid var(--bp-c-tripschedule__kindtitle--BorderColor);
  padding-left: .5em;
  background-color: var(--bp-c-tripschedule__kindtitle--BackgroundColor);
}
