{% load i18n %}
{% load static %}
{% load sekizai_tags %}
{% load cms_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/trip_card/trip_card.css' %}">{% endaddtoblock %}

<article class="bp-c-tripcard{% if trip.canceled %} bp-m-canceled{% endif %} card cell">
  <div class="callout {% if trip.canceled %}alert{% else %}secondary{% endif %}">
    {{ trip.scheduled_date|date:'j-n-Y' }}
    {% if trip.duration > 1 %} → {{ trip.end_date|date:'j-n-Y' }}{% endif %}
    {% if trip.canceled %}<span>({% translate "Canceled" %})</span>{% endif %}
  </div>
  <div class="card-section">
    <h4>{% render_model trip "name" %}</h4>

    <dl>
      {% if trip.difficulty %}
        <dt>{% translate "Difficulty" %}</dt>
        <dd>{{ trip.difficulty }}</dd>
      {% endif %}
      {% if trip.escort_attendances.exists %}
        <dt>{% translate "Escorts" %}</dt>
        <dd>
          <ul>
            {% for attendance in trip.escort_attendances.all %}
              <li>
                {{ attendance.escort }}
                {% if show_contacts %}
                  {% if attendance.escort.telephone %}
                    (<a href="tel:{{ attendance.escort.telephone }}">{{ attendance.escort.telephone }}</a>)
                  {% elif attendance.escort.email %}
                    (<a href="mailto:{{ attendance.escort.email }}">{{ attendance.escort.email }}</a>)
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </dd>
      {% endif %}
    </dl>
  </div>

  <a class="button" href="{{ trip.get_absolute_url }}">{% translate "Details" %}</a>
</article>
