{% extends CMS_TEMPLATE %}
{% load i18n %}
{% load thumbnail %}
{% load cms_tags %}
{% load marta_meta_tags %}

{# {% block canonical_url %}<link rel="canonical" href="{{ meta.url }}">{% endblock canonical_url %} #}

{% block page_title %}{{ post.meta_title|default:post.title }}{% endblock page_title %}

{% block meta %}
  {% if meta %}
    {% include "meta/meta.html" with meta=post|post_meta %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock meta %}

{% block header %}
  {% include "marta/components/organisms/page_header/page_header--post.html" with title=post.title %}
{% endblock header %}

{% block content %}

  {% block post_meta %}
    {% include "marta/components/atoms/post_meta/post_meta.html" %}
  {% endblock post_meta %}

  {% if post.app_config.use_placeholder %}
    {% render_placeholder post.content %}
  {% else %}
    {% render_model post "post_text" "post_text" "" "safe" %}
  {% endif %}

  {% if view.liveblog_enabled %}
    {% include "liveblog/includes/post_detail.html" %}
  {% endif %}

  {% if post.related.exists %}
    <section class="grid-container">
      <h2>{% trans "Related articles" %}</h2>
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        {% for related in post.related.all %}
          <div class="cell">
            {% include "marta/components/molecules/post_card/post_card.html" with post=related image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock content %}
