:root {
  --bp-c-page_footer--BackgroundColor: var(--bp-global--palette--black);
  --bp-c-page_footer--Color: var(--bp-global--palette--white);
  --bp-c-page_footer--FontSize: var(--bp-global--FontSize-smaller);
}

.bp-c-page_footer {
  background-color: var(--bp-c-page_footer--BackgroundColor);
  color: var(--bp-c-page_footer--Color);
  font-size: var(--bp-c-page_footer--FontSize);
  padding-top: 1em;
}
