{% extends "marta/components/templates/page/page.html" %}
{% load i18n %}

{% block content %}

  {# CMS placeholder #}
  {{ block.super }}

  {% if schedule_list.exists %}
    <ul>
      {% for schedule in schedule_list.all %}
        <li><a href="{{ schedule.get_absolute_url }}">{{ schedule }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      {% translate "No trip schedules found" %}
    </p>
  {% endif %}

{% endblock content %}
