:root {
  /** Color palette */
  --bp-global--palette--black: rgb(10, 10, 10);
  --bp-global--palette--black-25: rgba(10, 10, 10, .25);
  --bp-global--palette--black-50: rgba(10, 10, 10, .5);
  --bp-global--palette--blue: #2196e3;
  --bp-global--palette--white: #fff;
  --bp-global--palette--cai: red;
  --bp-global--palette--gray: #cacaca;


  --bp-global--palette--primary: #1779ba;
  --bp-global--palette--primary-light: #d7ecfa;
  --bp-global--palette--secondary: #5e5e5e;
  --bp-global--palette--success: #e1faea;

  /** Font sizes */
  --bp-global--FontSize-smaller: 80%;

  /* Font weights */
  --bp-global--FontWeight--light:   300;
  --bp-global--FontWeight--regular: 400;
  --bp-global--FontWeight--bold:    700;

  /** Font families */
  --bp-global--FontFamily-brush: 'Caveat Brush', cursive;
  --bp-global--FontFamily-cursive: 'Caveat', cursive;

  /** Border radius */
  --bp-global--BorderRadius--sm: .25rem;
}
