/**
 * Picture
 */

:root {
  /** bottom margin when rendering as a figure */
  --bp-c-picture--figure--MarginBottom: 2rem;

  /**
   * Caption
   */

  /** Font size */
  --bp-c-picture__caption--FontSize: .8em;


  /**
   * Aligned variant
   */

  /** Horizontal margin */
  --bp-c-picture--align--Margin: var(--bp-c-picture--figure--MarginBottom);
  /** Maximum width */
  --bp-c-picture--align--MaxWidth: 50%;
}


figure.bp-c-picture {
  margin-bottom: var(--bp-c-picture--figure--MarginBottom);
}


.bp-c-picture figcaption {
  font-size: var(--bp-c-picture__caption--FontSize);
  margin-top: .5em;
}


.bp-c-picture.bp-m-align-center {
  display: block;
  margin: var(--bp-c-picture--align--Margin) auto;
}


@media all and (min-width: 40rem) {
  .bp-c-picture.bp-m-align-left,
  .bp-c-picture.bp-m-align-right {
    margin-bottom: var(--bp-c-picture--figure--MarginBottom);
    max-width: var(--bp-c-picture--align--MaxWidth);
  }

    .bp-c-picture.bp-m-align-left {
      float: left;
      margin-right: var(--bp-c-picture--align--Margin);
    }

    .bp-c-picture.bp-m-align-right {
      float: right;
      margin-left: var(--bp-c-picture--align--Margin);
    }

      .bp-c-picture.bp-m-align-right figcaption {
        text-align: right;
      }
}
