{% extends "marta/components/molecules/map/map.html" %}
{% load i18n %}
{% load l10n %}
{% load sekizai_tags %}

{% block content %}
  {{ block.super }}
  <script class="trail" id="trail-detail" type="application/json">{% localize off %}
    {
      "name": "{{ object }}",
      "url": "{{ object.get_absolute_url }}",
      "track": {{ object.track_data.geojson|safe }},
      "start": {{ object.start.geojson|safe }},
      "end": {{ object.end.geojson|safe }}
    }
  {% endlocalize %}</script>

  {% addtoblock "js" %}<script>
    window.addEventListener('map:init', (event) => {
      const map = event.detail.map;
      const trailLayer = new L.featureGroup().addTo(map);
      const markersLayer = L.markerClusterGroup().addTo(map);
      const popupOptions = {
        autoclose: false,
        closeButton: true,
        closeOnClick: true,
        closeOnEscapeKey: false,
      };
      const elevationControl = L.control.elevation({
          useHeightIndicator: true,
          detached: false,
          position: "bottomleft",
          summary: false,
          imperial: false,
          collapsed: true,
          autohide: true,
          legend: false,
          ruler: false,
      });

      elevationControl.addTo(map);
      L.control.browserPrint({
        title: '{% translate "Print map" %}',
        documentTitle: '{{ object }}',
        position: 'topleft',
        printModes: [
          L.control.browserPrint.mode.landscape('{% translate "Landscape" %}'),
          L.control.browserPrint.mode.portrait('{% translate "Portrait" %}'),
          L.control.browserPrint.mode.auto('{% translate "Automatic" %}'),
          L.control.browserPrint.mode.custom('{% translate "Custom" %}'),
        ],
      }).addTo(map);

      map.getContainer().querySelectorAll('.trail').forEach((node) => {
        const trail = JSON.parse(node.innerHTML);

        L.geoJSON(trail.track).addTo(trailLayer);

        jsonMarker(trail.start).addTo(markersLayer).bindPopup('{% trans "Start" %}', popupOptions);
        jsonMarker(trail.end).addTo(markersLayer).bindPopup('{% trans "Arrival" %}', popupOptions);

        elevationControl.loadData(trail.track);
      });

      map.flyToBounds(trailLayer.getBounds(), {
        animate: true,
        duration: 1,
        maxZoom: 13,
        padding: [200, 200],
      });
    });
  </script>{% endaddtoblock %}

{% endblock content %}
