{% load static sekizai_tags %}
{% load leaflet_tags %}
{% load i18n %}

{% addtoblock "css" %}{% leaflet_css %}{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'marta/components/molecules/map/map.css' %}">{% endaddtoblock %}

{% addtoblock "js" %}{% leaflet_js %}{% endaddtoblock %}
{% addtoblock "js" %}{% leaflet_map map_name|default:"map" creatediv=False settings_overrides=map_config|default:"" %}{% endaddtoblock %}

{% addtoblock "js" %}<script>
  function jsonMarker(geojson) {
    return L.marker(new L.LatLng(
      geojson.coordinates[1],
      geojson.coordinates[0],
      geojson.coordinates[2]
    ));
  };

  window.addEventListener('map:init', (event) => {
    const map = event.detail.map;

    map.jsonMarker = function(geojson) {
      return L.marker(new L.LatLng(
        geojson.coordinates[1],
        geojson.coordinates[0],
        geojson.coordinates[2]
      ));
    };

    if (map.layerscontrol) {
      map.layerscontrol.remove();
    }

    map.addControl(new L.Control.Fullscreen({
      title: {
        'false': '{% translate "View Fullscreen" %}',
        'true': '{% translate "Exit Fullscreen" %}',
      },
    }));
    map.gestureHandling.enable();
    L.control.locate({
      flyTo: true,
      follow: true,
      keepCurrentZoomLevel: false,
      locateOptions: {
        maxZoom: 13,
      },
      strings: {
        title: '{% translate "Show me where I am" %}',
        metersUnit: '{% translate "meters" %}',
        feetUnit: '{% translate "feet" %}',
        popup: '{% translate "You are within {distance} {unit} from this point" %}',
        outsideMapBoundsMsg: '{% translate "You seem located outside the boundaries of the map" %}',
      },
      locateoptions: {
        // see https://leafletjs.com/reference-1.6.0.html#locate-options
        enableHighAccuracy: true,
      },
    }).addTo(map);

  });
</script>{% endaddtoblock %}

<div id="{{ map_name|default:'map' }}" class="bp-c-map leaflet-container-default {{ extra_classes }}">
  {% block content %}{% endblock content %}
</div>
