{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}
  {% blocktranslate with username=user.username asvar page_title %}User: {{ object.username }}{% endblocktranslate %}
  {{ block.super }}
{% endblock page_title %}

{% block header %}
  {% translate "Change profile" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'users:update' %}">{% csrf_token %}

    {% for field in form %}
      {% include "marta/components/molecules/form_field/form_field.html" %}
    {% endfor %}

    <button class="button" type="submit">{% trans "Update" %}</button>

  </form>

{% endblock content %}
