{% extends "marta/components/templates/_track_detail/track_detail.html" %}
{% load i18n %}

{% block page_title %}{{ instance.name }}{% endblock page_title %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>{{ object }}</li>
{% endblock breadcrumbs %}


{% block content %}

  {{ block.super }}

  {% if trail.legs.exists %}
    <section>
      <h2>{% translate "Legs" %}</h2>
      <ol>
        {% for leg in trail.legs.all %}
          <li><a href="{{ leg.get_absolute_url }}"> {{ leg }} </a></li>
        {% endfor %}
      </ol>
    </section>
  {% endif %}

{% endblock content %}
