{% extends "marta/components/templates/_track_detail/track_detail.html" %}
{% load menu_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{{ leg.trail.get_absolute_url }}">{{ leg.trail }}</a></li>
  <li>{{ leg }}</li>
{% endblock breadcrumbs %}
