{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
  {% blocktranslate with username=user.username asvar page_title %}User: {{ object.username }}{% endblocktranslate %}
  {{ block.super }}
{% endblock page_title %}

{% block header %}
  {% translate "User detail" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  <h2>{{ object.username }}</h2>

  {% if object.get_full_name %}
    <p>{{ object.get_full_name }}</p>
  {% endif %}

  {% if object == request.user %}

    <div class="button-group">
      <a class="button" href="{% url 'users:update' %}" role="button">
        {% translate "Change profile" %}
      </a>
      <a class="button" href="{% url 'account_email' %}" role="button">
        {% translate "Email" %}
      </a>
    </div>

  {% endif %}

{% endblock content %}
