{% load i18n %}

<dl>

  <dt>{% translate "Date" %}</dt>
  <dd>{{ trip.scheduled_date|date:'j-n-Y' }}</dd>

  {% if trip.duration > 1 %}
    <dt>{% translate "Duration" %}</dt>
    <dd>{% blocktranslate with duration=trip.duration %}{{ duration }} days{% endblocktranslate %}</dd>
  {% endif %}

  {% if trip.difficulty %}
    <dt>{% translate "Difficulty" %}</dt>
    <dd>{{ trip.difficulty }}</dd>
  {% endif %}

  {% if trip.escort_attendances.exists %}
    <dt>{% translate "Escorts" %}</dt>
    <dd>
      <ul>
        {% for attendance in trip.escort_attendances.all %}
          <li>
            {{ attendance.escort }}
            {% if show_contacts %}
              {% if attendance.escort.telephone %}
                (<a href="tel:{{ attendance.escort.telephone }}">{{ attendance.escort.telephone }}</a>)
              {% elif attendance.escort.email %}
                (<a href="mailto:{{ attendance.escort.email }}">{{ attendance.escort.email }}</a>)
              {% endif %}
            {% else %}
              {% if attendance.role %}({{ attendance.role }}){% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

</dl>
