/**
 * Map
 */

:root {
  --bp-c-map--MinHeight: 30rem;
  --bp-c-map--MarginBottom: 1rem;
}


.bp-c-map {
  margin-bottom: var(--bp-c-map--MarginBottom);
  min-height: var(--bp-c-map--MinHeight);
}


.bp-c-map .elevation-control.elevation .elevation-toggle-icon {
  background-color: white;
}
