{% extends "marta/components/templates/page/page.html" %}
{% load i18n %}
{% load cms_tags %}
{% load thumbnail %}

{% block meta %}
  {% include "meta/meta.html" %}
{% endblock meta %}

{% block page_title %}{{ trip.name }}{% endblock page_title %}

{% block header %}
  {% include "marta/components/organisms/page_header/page_header--object.html" with title=trip %}
{% endblock header %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{{ trip.schedule.get_absolute_url }}">{{ trip.schedule.year }}</a></li>
  <li>{{ trip.name }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="grid-x grid-margin-x">

    {% if trip.track_file %}
      {% include "marta/components/molecules/map/map--trail.html" with extra_classes="cell small-12 medium-8" %}
    {% elif trip.flyer and trip.flyer_picture %}
      <figure class="cell small-12 medium-8">
        <img src="{{ trip.flyer_picture|thumbnail_url:'trip-flyer' }}" alt="{% translate 'Flyer' %}">
      </figure>
    {% endif %}

    <section class="cell small-12{% if trip.track_file or trip.flyer and trip.flyer_picture %} medium-4{% endif %}">

      <h2>
        {% translate "Details" %}
      </h2>

      {% include "marta/components/molecules/trip_details/trip_details.html" %}

      {% if trip.flyer %}
        <p>
          <a href="{{ trip.flyer.url }}" target="_blank">{% translate "Download the flyer" %}</a>
        </p>
      {% endif %}

      {% if trip.track_file %}
        <p>
          <a href="{{ trip.track_file.url }}" download="{{ trip }}.gpx">{% translate "Download the GPX track" %}</a>
        </p>
      {% endif %}

    </section>

  </div>

  {% render_placeholder trip.report %}

  {% render_placeholder trip.pictures %}

{% endblock content %}
