{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}{% translate "Sign out" as page_title %}{{ block.super }}{% endblock %}

{% block header %}
  {% trans "Sign out" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  <p>
    {% translate "Are you sure you want to sign out?" %}
  </p>

  <form method="post" action="{% url 'account_logout' %}">{% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <button class="button warning" type="submit">{% trans 'Sign out' %}</button>
  </form>

{% endblock content %}
