{% load thumbnail %}

{% with caption_text=instance.get_caption %}

  {% if caption_text %}
    <figure class="orbit-figure">
  {% endif %}

  <img class="orbit-image"
       src="{{ instance.picture|thumbnail_url:thumbnail_alias }}"
       alt="{{ instance.get_alt_text }}"
       {% if instance.width %} width="{{ instance.width }}"{% endif %}
       {% if instance.height %} height="{{ instance.height }}"{% endif %}
  >

  {% if caption_text %}
      <figcaption class="orbit-caption">{{ caption_text }}</figcaption>
    </figure>
  {% endif %}

{% endwith %}
