{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Sign in" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% trans "Sign in" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  <p>
    {% blocktranslate trimmed %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.
    {% endblocktranslate %}
  </p>

  <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <a class="button secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
    <button class="button primary" type="submit">{% trans "Sign in" %}</button>
  </form>

{% endblock %}
