{% load i18n %}
{% load static %}
{% load cms_tags menu_tags %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>

    <title>{% translate "Server error" %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    {% block vendor_css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@2.0.5/dist/motion-ui.min.css" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'marta/css/tokens.css' %}">
      <link rel="stylesheet" href="{% static 'marta/components/templates/_base/base.css' %}">
    {% endblock vendor_css %}

  </head>
  <body>

    {% translate "Ooops!!! 500" as title %}
    {% include "marta/components/organisms/page_header/page_header.html" %}

    <main class="grid-container">

      <h3>{% trans "Looks like something went wrong!" %}</h3>

      <p>
        {% blocktrans trimmed %}
          We track these errors automatically, but if the problem persists feel free to
          contact us. In the meantime, try refreshing.
        {% endblocktrans %}
      </p>

    </main>

    {% include "marta/components/organisms/page_footer/page_footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/motion-ui@2.0.5/dist/motion-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <script>$(document).foundation();</script>

  </body>
</html>
