{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Sign up" as page_title %}{% endblock page_title %}

{% block header %}
  {% translate "Sign up" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}
  <p>
    {% blocktranslate trimmed %}
      Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
    {% endblocktranslate %}
  </p>

  <form method="post" action="{% url 'account_signup' %}">{% csrf_token %}

    {{ form.as_p }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    <button class="button" type="submit">{% trans "Sign up" %}</button>

  </form>

{% endblock content %}
