/**
 * Blog post card
 */

:root {
  /** Border radius */
  --bp-c-post--BorderRadius: var(--bp-global--BorderRadius--sm);

  --bp-c-postcard__before--BackgroundColor: var(--bp-global--palette--primary-light);

  --bp-c-postcard__image--PaddingBottom: 56.25%; /* 16:9 */
}


.bp-c-postcard {
  border-radius: var(--bp-c-tripcard--BorderRadius);
}


.bp-c-postcard::before,
.bp-c-postcard .bp-c-postcard__image {
  height: 0;
  overflow: hidden;
  padding-bottom: var(--bp-c-postcard__image--PaddingBottom);
  position: relative;
}

  .bp-c-postcard::before {
    background-color: var(--bp-c-postcard__before--BackgroundColor);
    content: "";
    display: block;
  }

  .bp-c-postcard.bp-m-image::before {
    display: none;
  }

  .bp-c-postcard .bp-c-postcard__image > img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
