{% load i18n %}
{% load static %}
{% load sekizai_tags %}
{% load account %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/atoms/post_meta/post_meta.css' %}">{% endaddtoblock %}

<div class="bp-c-postmeta">

  {% if post.categories.exists or post.tags.exists %}
    <p class="bp-c-postmeta__pills">
      {% if post.categories.exists %}
        {% for category in post.categories.all %}
          {% if category.slug %}
            <a class="bp-c-postmeta__category" href="{% url 'djangocms_blog:posts-category' category=category.slug %}">{{ category.name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if post.tags.exists %}
        {% for tag in post.tags.all %}
          <a class="bp-c-postmeta__tag" href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
      {% endif %}
    </p>
  {% endif %}

  {% if post.author or post.date_featured or post.date_published %}
    <p>
      {% if post.author %}{% spaceless %}
        {% trans "by" %} <a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}">{% user_display post.author %}</a>
      {% endspaceless %}{% endif %}{% if post.date_featured or post.date_published %}, {{ post.date_featured|default:post.date_published|date:"DATE_FORMAT" }}{% endif %}
    </p>
  {% endif %}

</div>
