/**
 * Video player
 */

:root {
  /** Background color */
  --bp-c-videoplayer--BackgroundColor: var(--bp-global--palette--gray);

  /** Bottom padding */
  --bp-c-videoplayer--PaddingBottom: 56.25%; /* 16:9 */
}

.bp-c-videoplayer {
  background-color: var(--bp-c-videoplayer--BackgroundColor);
  height: 0;
  overflow: hidden;
  padding-bottom: var(--bp-c-videoplayer--PaddingBottom);
  position: relative;
  width: 100%;
  margin: 1em 0;
}

.bp-c-videoplayer > iframe,
.bp-c-videoplayer > video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
