{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}

{% block page_title %}{% translate "Set password" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% translate "Set password" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}
  <form method="post" action="{% url 'account_set_password' %}">{% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit" name="action">{% translate "Set password" %}</button>
  </form>
{% endblock content %}
