{% extends "marta/components/templates/_base/base.html" %}
{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Password reset" as page_title %}{{ block.super }}{% endblock page_title %}

{% block header %}
  {% trans "Password reset" as title %}
  {% include "marta/components/organisms/page_header/page_header.html" %}
{% endblock header %}

{% block content %}

  {% if user.is_authenticated %}
    {% include "marta/components/atoms/account/already_logged_in/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktranslate trimmed %}
      Forgotten your password? Enter your email address below, and we'll send you an
      email allowing you to reset it.
    {% endblocktranslate %}
  </p>

  <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">{% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">{% trans 'Reset my password' %}</button>
  </form>

  <p>
    {% translate "Please contact us if you have any trouble resetting your password." %}
  </p>

{% endblock content %}
