/**
 * Polaroids
 */

:root {
  --bp-c-polaroids--Color: inherit;
  --bp-c-polaroids--MarginBottom: 1em;
  --bp-c-polaroids--MarginTop: var(--bp-c-polaroids--MarginBottom);

  --bp-c-polaroids__item--eighth--Transform: rotate(-2deg) translateX(-5px) translateY(-8px);
  --bp-c-polaroids__item--eleventh--Transform: rotate(-2deg) translateX(-5px) translateY(-3px);
  --bp-c-polaroids__item--even--Transform: rotate(2deg);
  --bp-c-polaroids__item--fifth--Transform: rotate(5deg) translateX(-5px);
  --bp-c-polaroids__item--third--Transform: rotate(0) translateY(-5px);
}


.bp-c-polaroids {
  color: var(--bp-c-polaroids--Color);
  list-style-type: none;
  margin-bottom: var(--bp-c-polaroids--MarginBottom);
  margin-top: var(--bp-c-polaroids--MarginTop);
}

  .bp-c-polaroids > :nth-child(even) {
    --bp-c-polaroid--Transform: var(--bp-c-polaroids__item--even--Transform);
  }

  .bp-c-polaroids > :nth-child(3n) {
    --bp-c-polaroid--Transform: var(--bp-c-polaroids__item--third--Transform);
  }

  .bp-c-polaroids > :nth-child(5n) {
    --bp-c-polaroid--Transform: var(--bp-c-polaroids__item--fifth--Transform);
  }

  .bp-c-polaroids > :nth-child(8n) {
    --bp-c-polaroid--Transform: var(--bp-c-polaroids__item--eighth--Transform);
  }

  .bp-c-polaroids > :nth-child(11n) {
    --bp-c-polaroid--Transform: var(--bp-c-polaroids__item--eleventh--Transform);
  }


.bp-c-polaroids .reveal img {
  width: 100%;
}
