/**
 * Trail card
 */

:root {
  /** Border radius */
  --bp-c-trailcard--BorderRadius: var(--bp-global--BorderRadius--sm);


  /**
   * Heading
   */

  /** Font size */
  --bp-c-trailcard__heading--FontSize: 1.2rem;
  /** Font weight */
  --bp-c-trailcard__heading--FontWeight: var(--bp-global--FontWeight--bold);
}


.bp-c-trailcard {
  border-radius: var(--bp-c-trailcard--BorderRadius);
}


.bp-c-trailcard a,
.bp-c-trailcard a:focus,
.bp-c-trailcard a:hover {
  color: inherit;
}

/* Heading */
.bp-c-trailcard h2 {
  font-size: var(--bp-c-trailcard__heading--FontSize);
  font-weight: var(--bp-c-trailcard__heading--FontWeight);
}


.bp-c-trailcard  svg {
  border-radius: calc(var(--bp-c-trailcard--BorderRadius));
}
