{% load static sekizai_tags %}
{% load cms_tags %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/organisms/polaroids/polaroids.css' %}">{% endaddtoblock %}

{% if instance.child_count %}
  <ul class="bp-c-polaroids grid-x grid-margin-x grid-margin-y small-up-2 medium-up-3 large-up-4">
    {% for child in instance.child_plugin_instances %}

      <li class="cell">
        {% include "marta/components/molecules/polaroid/polaroid.html" with instance=child %}

        <div class="large reveal" id="picture-{{ child.pk }}" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          {% render_plugin child %}
        </div>

      </li>

    {% endfor %}
  </ul>
{% endif %}
