{% load i18n %}
{% load static %}
{% load sekizai_tags %}
{% load thumbnail %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'marta/components/molecules/magazineissue_card/magazineissue_card.css' %}">{% endaddtoblock %}

<figure class="bp-c-magazineissue cell">
  <a href="{{ issue.get_absolute_url }}" target="_blank">
    {% blocktrans with name=issue asvar alt_text %}{{ name }} cover image{% endblocktrans %}
    <img src="{{ issue.cover_picture|thumbnail_url:'magazineissue-cover' }}" alt="{{ alt_text }}">
  </a>
  <figcaption>
    {{ issue }}
  </figcaption>
</figure>
